@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(66, 66, 66, 0.863);
}

.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 100vh;
    margin: 0 auto;
    align-items: center;
}

.container .header{
    display: flex;
    width: 100%;
    margin-top: 15px;
    align-items: center;
    justify-items: center;
}

.container .header h1{
    display: inline-block;
    margin: 0 auto;
    transform: translateX(40px);
    color: white;
}

.container .header span#btn-add{
    display: inline-block;
    position: absolute;
    border: 1px solid rgba(255,255,255,0.1);
    padding: 3px 5px;
    border-radius: 4px;
    background-color: rgba(58, 211, 127, 0.678);
    cursor: pointer;
    transition: 0.5s;
    color: white;
    position: relative;
    user-select: none;
}

.container .header span::before{
    content:"";
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(16, 255, 124, 0.678);

    transform: perspective(4em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1.5em);
    opacity: 0;
    transition: 0.5s;
}

.container .header span:hover::before{
    opacity: 1;
}

.container .header span#btn-add:hover{
    background-color: rgba(16, 255, 124, 0.678);
    box-shadow: 1px 1px 5px rgba(20, 216, 108, 0.808);
}

.container .menu{
    display: flex;
    width: 100%;
    min-height: 85vh;
    margin: 15px auto;
    padding: 20px 0;
    justify-content: center;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.menu .task-menu{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr)); 
    justify-content: space-around;
    width: 100%;
    padding: 0 20px;
    gap: 20px;
}

.task{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(255,255,255,0.5);
    width: auto;
    height: 370px;
    border-radius: 4px;
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.2);
    background-color: rgba(112, 255, 177, 0.678);;
}

.task .task-header{
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;
    gap: 10px;
    color: rgb(255, 255, 255);
}

.task .task-header i{
    cursor: pointer;
}

.task .task-body{
    width: 100%;
    margin-bottom: 5px;
    overflow: hidden;
}

.task .task-body #text{
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    padding: 10px;
    font-size: 1rem;
    
}

.task .task-body #text:disabled{
    font-style: italic;
    padding: 20px;
    font-size: 1.2rem;
}